{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="fs-1">Facial Analysis Application</h3> <br>


    <div class="shadow-none p-3 mb-5 bg-light rounded">


        <p class="fs-5">
            There are 3 ways to explore the model: 
        </p>
        <br>
    
        <a class="btn btn-outline-primary btn-lg" href="/app/image/">By Image</a> <br> <br>
        <a class="btn btn-outline-primary btn-lg" href="/app/camera/">By Camera</a> <br> <br>
        <a class="btn btn-outline-primary btn-lg" href="/app/video">By Video</a>

    </div>

</div>

{% endblock %}