
{% extends 'base.html' %}

{% block bodyblock %}


<div class="container">
    <br><br>
    <div class="container">
        <div class="row-5">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="../app/views.py" width="10">
            </div>
        </div>
    </div>


    <!-- <script type="text/javascript">
        // Popup window code
        function newPopup(url) {
            popupWindow = window.open(
                url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
        }
    </script>
    <p><a class="btn btn-outline-primary" href="JavaScript:newPopup('/app/video');">Click here to open camera</a></p> -->



    <figure class="figure">
        <img src="../app/views.py" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>


      

</div>

{% endblock %}