{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>

    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-5 mx-auto" style="font-weight: bold; width: 600px;">Facial Analysis by Video</h1>
    <br>
    <div class="">
        <p class="mbr-text pb-3 mbr-semibold mbr-fonts-style display-7 mx-auto" style=" width: 800px; font-size: x-large;" style=" width: 700px; font-weight: 500;">
            1. Upload a video in .mp4 format. <br>
            2. The model will make real-time prediction the biological gender as well as emotion based on the detected face in the video. <br>
            3. Please wait for a while for the output to come out. <br>
            4. An output of image instead of a video means that the predicted video cannot be displayed for some reason, such as the browser. <br>
            5. This feature functions properly on local host, but sometimes leads to a timeout error when deployed on Heroku Cloud, which is being worked on.
        </p>
        <br><br>
        
        <form action="#" method="POST" enctype="multipart/form-data" for="formFileLg" class="mx-auto" style="width: 800px">
            <div class="input-group">
                <input type="file" class="form-control form-control-lg" name="video_name" style="font-weight:bold; font-size: large;" required>
                <input type="submit" value="Upload & Predict" class="btn btn-outline-primary" style="font-weight:bold; font-size: large;">
            </div>
        </form>
        <br><br><br><br>

    </div>
    
    <div class="container">
        

        {% if fileupload %}
        <!-- <br><br>
        <h3 class="display-8">Predicted Video</h3>
        <video width="320" height="240" controls>
            <source src="./static/prediction/video_pred.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <hr>
        <br> -->

        
        <center>
            <video loop autoplay muted width="1100" poster="/static/images/poster.png">
                <!-- <source src="/static/prediction/video_pred.avi" type="video/avi"> -->
                <source src="/static/prediction/video_pred.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </center>
        
        {% endif %}
    </div> 
</div>


============================






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    	#video {
    		transform: rotateY(180deg);
    		-webkit-transform:rotateY(180deg); /* Safari and Chrome */
    		-moz-transform:rotateY(180deg); /* Firefox */
    		
    	}
    </style>
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.0/socket.io.js'></script>
</head>

<body>

    <div id="container">
    <video autoplay playsinline id="videoElement"></video>
    <canvas id="canvas"  width="400" height="300"></canvas>
    </div>

    <div class = 'video'>
        <img id="photo"  width="400"  height="300">
        <h1>video</h1>
    </div>

    <script type="text/javascript" charset="utf-8">
      
        var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);
        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });


        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        const video = document.querySelector("#videoElement");

        video.width = 400;
        video.height = 300; 
    

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {

            });
        }

        const FPS = 6;
        setInterval(() => {
            width=video.width;
            height=video.height;
            context.drawImage(video, 0, 0, width , height );
            var data = canvas.toDataURL('image/jpeg', 0.5);
            context.clearRect(0, 0, width,height );
            socket.emit('image', data);
        }, 1000/FPS);

        socket.on('response_back', function(image){
                photo.setAttribute('src', image );
                
        });

    </script>


 </body>

</html>







============================

{% endblock %}